label{
    display: block;
    font-size: 13px;
    font-weight:300;
}

input, textarea{

        display:block;
        margin-bottom: 15px;
        padding: 5px 2%;
        width:96%;
}

.msg-box{
    background: #f1f2ea;
    border: 1px solid #c7cbab;
    padding:5px 10px;
    margin-bottom: 15px;
    columns: #727272;
}

.msg-box p{
    margin: 0!important;
    padding:2px 0!important;
}

.tabela{
    width: 100%;
    font-size: 18px;
}
table td{
    padding: 10px 0!important;
}

table tbody tr:hover{
    background: #f1f2ea!important;
    color:#727272!important;
}

img.thumb-edicao{
    width: 200px!important;
    height: auto!important;
}